#btns button{
    background-color: blueviolet;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;  
    border-radius: 5px;
    font-size: 12px;
    height: 30px;
    padding: 5px;
}

#btns button:hover {
    background-color: rgb(112, 6, 126); /* Green */
    color: white;
}

button{
    background-color: rgb(204, 43, 43);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button:hover {
    background-color: rgb(126, 34, 6); /* Green */
    color: white;
}

.info{
    max-width: 300px;
}